.DS_Store
oqhbt.acn
oqhbt.acn
oqhbt.acr
oqhbt.alg
oqhbt.aux
oqhbt.bbl
oqhbt.bcf
oqhbt.glg
oqhbt.glo
oqhbt.gls
oqhbt.idx
oqhbt.ist
oqhbt.log
oqhbt.out
oqhbt.pdf
oqhbt.ptc
oqhbt.run.xml
oqhbt.synctex.gz
oqhbt.toc
structure.log
